<div class="col-md-9">
    <div class="jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Flipkart Lightening Deals</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4 padding-card" *ngFor="let i of product">
                    <mat-card style="border-radius: 25px;">
                        <div class="row">
                            <div class="col-sm-2" style="padding-left: 40px;padding-top: 50px;">
                                <img mat-card-image src="https://rukminim1.flixcart.com/image/832/832/jdhp47k0/mobile/e/h/e/redmi-note-5-pro-na-original-imaf2ashnnbxxks5.jpeg?q=70" style="width: 75px;height: 100px;">
                            </div>
                            <div class="col-sm-10" style="text-align: center;">
                                <mat-card-title>{{i.productName}}</mat-card-title>
                                <mat-card-subtitle>{{i.productDesc}}</mat-card-subtitle>
                                <mat-card-actions> <button mat-raised-button color="primary">Buy Now</button> </mat-card-actions>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>