<div class="container home-box">
    <div class="container col-md-6">
        <div class="card text-center">
            <div class="card-header bg-secondary">
                <h2>Choose your shopping website</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <a [routerLink]="['/flipkart-deals']"><img src="https://www.underconsideration.com/brandnew/archives/flipkart_logo_detail_icon.jpg" style="width:100px;height: 100px;" /></a>
                    </div>
                    <div class="col-sm-6">
                        <a [routerLink]="['/amazon-deals']"><img src="https://pngimg.com/uploads/amazon/amazon_PNG22.png" style="width:100px;height: 100px;" /></a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>